.top-navbar {
  width: 100%;
  background-color: #4c4545;
  overflow: auto;
}
.top-navbar a {
  float: left;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
}
.top-navbar a:hover {
  background-color: black;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #4c4545;
  color: white;
  text-align: center;
}
