<nav class="top-navbar d-flex justify-content-center">
    <div>
        <a href="">
            <i class="oi oi-home"></i> Home
        </a>

        <a href="">
            <i class="oi oi-person"></i> Contact
        </a>

        <a href="https://github.com/ibrahimadedokun/Portfolio" target="_blank">
            <i class="oi oi-external-link"></i> About
        </a>
    </div>
    
</nav>