@inherits LayoutComponentBase

<div class="page">
     <main>
        <TopNavbar />

        <article class="content px-4">
            @Body
        </article>

        <Footer />
    </main>
</div>
