@page "/"

<div class="p-2 text-center">
    <h1>I am Ibrahim Adedokun</h1>

    <div>
        <p>
            Welcome to my humble digital abode.
        </p>
        <p>
            I am currently a Software Developer at Next Retail Ltd and I've been there for almost 2 years!
            I develop solutions individually and alongside the wider team for the Store Technology team, mostly using the .NET stack - C#, Blazor, Xamarin, Azure DevOps and a few to mention.
            I have been involved in numerous projects from start to finish, some with the team and some, individually with minimal supervision.
            Some of my projects involved designing relational and non-relational databases, RESTful APIs and Android applications and responsive websites.

            I graduated with a distinction in MSc Electronic Engineering at Nottingham Trent University and I have a strong academic background in the STEM-related courses with exceptional numeracy skills.
            I have used these to achieve high grades in my degrees and win some National Scholarship Awards. 
            
            I love Engineering and Programming alongside learning new technology in my field. I have carried out numerous Engineering projects, both as a hobby and for academic reasons.
        </p>
    </div>
</div>

<div class="row text-center">
    <div class="col">
        <Card CardTitle="Software Development"
              CardText="Wanna see how far I've come with software development?"
              ButtonText="Take me there"
              RedirectToPage="software"
              ImageAlt="Software logo"
              ImageSrc="img/software.png" />
    </div>

    <div class="col">
        <Card CardTitle="Engineering"
              CardText="Wanna see where I stopped as far as Engineering is concerned?"
              ButtonText="Let's go"
              RedirectToPage="engineering"
              ImageAlt="Engineering logo"
              ImageSrc="img/engineering.png" />
    </div>
</div>

